.actions-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 12px;
}

.btn-row {
  display: flex;
  gap: 8px;
  width: 100%;
}

.btn {
  flex: 1;
  padding: 16px;
  white-space: nowrap;
  border: none;
  border-radius: var(--radius-md);
  background: var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: opacity 0.1s;
}

.btn-full {
  width: 100%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
}

.btn:disabled {
  background: darkgray;
  cursor: default;
}
