.eti-editor .ProseMirror::selection {
  background-color: var(--selection-color);
}

.eti-editor .ProseMirror::-webkit-selection {
  background-color: var(--selection-color);
}

.eti-editor {
  caret-color: var(--cursor-color);

  /* placeholder styles */
  p.is-editor-empty:first-child::before {
    color: var(--placeholder-color);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  code {
    background-color: var(--code-bg-color);
    color: var(--code-color);
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    font-size: 0.85rem;
    font-family: monospace;
  }

  h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
  }

  h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
  }

  h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
  }

  h6 {
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
  }

  blockquote {
    border-left-style: solid;
    border-left-color: var(--blockquote-border-color);
    border-left-width: var(--blockquote-border-width);
    padding-left: var(--blockquote-gap-width);
    color: var(--blockquote-color);
  }
}
