p.is-editor-empty:first-child::before {
  color: var(--placeholder-color, var(--gray-4));
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror ::selection {
  background-color: var(--selection-color);
}

.ProseMirror::-webkit-selection {
  background-color: var(--selection-color);
}

.ProseMirror {
  caret-color: var(--cursor-color);
}
