p.is-editor-empty:first-child::before {
  color: var(--placeholder-color, var(--gray-4));
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror ::selection {
  background-color: var(--selection-color);
}

.ProseMirror::-webkit-selection {
  background-color: var(--selection-color);
}

.ProseMirror {
  caret-color: var(--cursor-color);
}

code {
  background-color: var(--code-bg-color);
  color: var(--code-color);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  font-size: 0.85rem;
  font-family: monospace;
}
